<html lang="en"><head>
	<title>WebUni - Education Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="/static/images/img/favicon.ico" rel="shortcut icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/libs/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/libs/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/libs/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/index.css">


</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder" style="display: none;">
		<div class="loader" style="display: none;"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
                    
                    <div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<a href="/static/login.html" class="site-btn header-btn">Login</a>
					<nav class="main-menu">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Courses</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="img/bg.jpg" style="background-image: url(&quot;/static/images/img/bg.jpg&quot;);">
		<div class="container">
			<div class="hero-text text-white">
                    <h1>TRADULEARN</h1>
                <h2>La nueva forma de aprender un idioma</h2>
				<p>Aprender con tradulearn es divertido y adictivo. Obten las respuestas correctas para asi poder
                     subir de nivel. Nuestras lecciones cortas son eficaces y tenemos prueba de que funcionan</p>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter">
						<input type="text" placeholder="Name">
						<input type="text" class="last-s" placeholder="E-mail">
						<button class="site-btn">Sign Up Now</button>
					</form>
				</div>
			</div>
		</div>

	<!--====== Javascripts & Jquery ======-->
	<script src="/static/js/libs/jquery-3.2.1.min.js"></script>
	<script src="/static/js/libs/bootstrap.min.js"></script>
	<script src="/static/js/libs/mixitup.min.js"></script>
	<script src="/static/js/libs/circle-progress.min.js"></script>
	<script src="/static/js/libs/owl.carousel.min.js"></script>

</body>
</html>